@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100&display=swap');


:root{
    --primary-color:#3E6AE6;
    --secondary-color:#ffff;


}


body{
margin: 0;
padding: 0;
font-family: 'Roboto', sans-serif;
}



.nav{
    background-color: var(--primary-color);
    padding: 1.25rem;
   color:var(--secondary-color);
   display: flex;
   column-gap: 20px;
}
.nav a{
  color: white;
  text-decoration: none;
}

.contaner{
    display: flex;
  justify-content: center;
  column-gap: 30px;
  margin-top: 80px;
}
.box{
    height: auto;
    width: auto;
    padding:1rem 2rem;
    border: 3px solid var(--primary-color);
    border-radius: 1rem;


}
.sidenav{
  width: 15%;
margin-right: 5rem;
z-index: 1;
top: 20px;
left: 10px;
background:whitesmoke;
overflow-x: hidden;
border-right:1px solid #00000025;
padding: 8px 0;

}

.sidenav a{
  padding: 10px 8px 10px 1.5rem;
text-decoration: none;
font-size: 16px;
color: black;
display: block;


}
.sidenav p{
line-height: 24px;
border-bottom: 1px solid #00000025;
font-weight: 500;
padding-left: 1rem;
}


.full{
width: 70%;

}
.sidenav a:hover{
background-color: #00000008;

}
