body{
    display: flex;
    background-color: var(--third-color);

}
.grid-container{
   display: grid;
   grid-template-columns: 1fr 1fr;
   grid-template-rows: 1fr 1fr;
   
}
.grid-container-three{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
  
}